.streamlinepet-paw-solid3 {
    position: absolute;
    top: 36px;
    left: 51px;
    width: 26px;
    height: 26px;
    overflow: hidden;
  }
  .streamlinepet-paw-solid4,
  .streamlinepet-paw-solid5 {
    position: absolute;
    top: 919px;
    left: 474px;
    width: 14px;
    height: 14px;
    overflow: hidden;
  }
  .streamlinepet-paw-solid5 {
    top: 917px;
    left: 711px;
  }
  .guidancefemale-sign1,
  .mdibirthday-cake1,
  .mdilocation1 {
    position: absolute;
    top: 910px;
    left: 76px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .guidancefemale-sign1,
  .mdibirthday-cake1 {
    left: 938px;
  }
  .mdibirthday-cake1 {
    left: 1180px;
  }
  .embrace-endless-love2 {
    position: absolute;
    top: 372px;
    left: 156px;
    letter-spacing: 0.1em;
    font-weight: 300;
    display: inline-block;
    width: 571px;
  }
  .home3 {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
  }
  .about-us3,
  .adopt6,
  .blog3,
  .get-involved3 {
    position: absolute;
    top: 0;
    left: 128px;
    font-weight: 500;
  }
  .about-us3,
  .blog3,
  .get-involved3 {
    left: 256px;
  }
  .about-us3,
  .blog3 {
    left: 463px;
  }
  .about-us3 {
    left: 570px;
  }
  .navbar3 {
    position: absolute;
    top: 20px;
    left: 221px;
    width: 659px;
    height: 21px;
  }
  .frame-button {
    width: 151px;
    position: absolute;
    top: 8px;
    left: 987px;
  }
  .register4 {
    position: absolute;
    top: 12px;
    left: 33px;
    font-weight: 500;
  }
  .register-wrapper {
    position: absolute;
    top: 8px;
    left: 1175px;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-darksalmon);
    box-sizing: border-box;
    width: 150px;
    height: 45px;
    overflow: hidden;
  }
  .frame-child14 {
    position: absolute;
    top: 3px;
    left: 2px;
    border-radius: 50%;
    background-color: var(--color-teal);
    width: 55px;
    height: 55px;
  }
  .vector-icon44 {
    position: absolute;
    height: 33.5%;
    width: 43.33%;
    top: 30.83%;
    right: 30%;
    bottom: 35.67%;
    left: 26.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .ellipse-parent,
  .navbar-parent {
    position: absolute;
    top: 0;
    height: 60px;
    overflow: hidden;
  }
  .ellipse-parent {
    text-decoration: none;
    left: 112px;
    width: 60px;
  }
  .navbar-parent {
    margin: 0;
    left: 0;
    background-color: var(--color-darkslategray);
    width: 1440px;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-epilogue);
  }
  .d35222155679201-1-icon {
    position: absolute;
    top: 994px;
    left: 0;
    width: 1440px;
    height: 685px;
    object-fit: cover;
  }
  .best-pet-adoption1 {
    position: absolute;
    top: 250px;
    left: calc(50% - 379px);
    font-size: var(--font-size-26xl);
    letter-spacing: 0.1em;
    font-weight: 800;
    color: var(--color-gray-200);
  }
  .vector-icon45 {
    width: 24px;
    position: relative;
    height: 24px;
  }
  .vector-group {
    position: absolute;
    top: 108px;
    left: 616px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xl);
  }
  .div7,
  .snehascarecom1 {
    position: absolute;
    top: 320px;
    letter-spacing: 0.1em;
  }
  .div7 {
    left: calc(50% - 108px);
  }
  .snehascarecom1 {
    left: 634px;
  }
  .best-pet-adoption-system-parent,
  .d35222155679201-1-parent {
    position: absolute;
    top: 994px;
    left: 0;
    width: 1440px;
    height: 587px;
    overflow: hidden;
  }
  .d35222155679201-1-parent {
    top: 952px;
    background-color: var(--color-white);
    height: 1581px;
    font-size: var(--font-size-xl);
  }
  .frame-child15,
  .frame-child16 {
    position: absolute;
    top: 0;
    left: 0;
    width: 366px;
    height: 435px;
  }
  .frame-child16 {
    top: -8px;
    left: 855px;
  }
  .image-1-icon4,
  .image-removebg-preview-4-14 {
    position: absolute;
    top: 0;
    left: 27px;
    width: 185px;
    height: 291px;
  }
  .image-1-icon4 {
    top: -39px;
    left: -25px;
    width: 474px;
    height: 474px;
    object-fit: cover;
  }
  .frame-a {
    text-decoration: none;
    width: 395px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-lightgray);
    height: 435px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .image-removebg-preview-4-1-parent1 {
    text-decoration: none;
    border: 1px solid var(--color-silver);
    box-sizing: border-box;
  }
  .image-removebg-preview-4-1-parent1,
  .image-removebg-preview-4-1-parent2 {
    width: 395px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-lightgray);
    height: 435px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-parent3 {
    position: absolute;
    top: -22px;
    left: calc(50% - 643px);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-43xl);
  }
  .most-popular1 {
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 58px);
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  .most-popular-container {
    position: absolute;
    top: -28px;
    left: 946px;
    border-radius: var(--br-5xs);
    background-color: var(--color-darksalmon);
    width: 178px;
    height: 40px;
    overflow: hidden;
  }
  .frame-parent2 {
    position: absolute;
    top: 328px;
    left: calc(50% - 470px);
    width: 904px;
    height: 345px;
    font-size: var(--font-size-mini);
    color: var(--color-white);
  }
  .vector-icon50,
  .vector-icon51,
  .vector-icon52,
  .vector-icon53 {
    position: absolute;
    top: 888px;
    left: 516px;
    width: 20px;
    height: 20px;
  }
  .vector-icon51,
  .vector-icon52,
  .vector-icon53 {
    left: 978px;
  }
  .vector-icon52,
  .vector-icon53 {
    left: 559px;
  }
  .vector-icon53 {
    left: 1024px;
  }
  .vector-icon54,
  .vector-icon55,
  .vector-icon56,
  .vector-icon57 {
    position: absolute;
    top: 888px;
    left: 605px;
    width: 20px;
    height: 20px;
  }
  .vector-icon55,
  .vector-icon56,
  .vector-icon57 {
    left: 1070px;
  }
  .vector-icon56,
  .vector-icon57 {
    left: 202px;
  }
  .vector-icon57 {
    left: 651px;
  }
  .vector-icon58,
  .vector-icon59,
  .vector-icon60,
  .vector-icon61 {
    position: absolute;
    top: 888px;
    left: 1116px;
    width: 20px;
    height: 20px;
  }
  .vector-icon59,
  .vector-icon60,
  .vector-icon61 {
    left: 248px;
  }
  .vector-icon60,
  .vector-icon61 {
    left: 697px;
  }
  .vector-icon61 {
    left: 1162px;
  }
  .desktop-1-child,
  .desktop-1-inner,
  .desktop-1-item {
    position: absolute;
    top: 757px;
    left: 330px;
    border-radius: var(--br-2xs);
    background: linear-gradient(90deg, #fff, #e8eae9 58.71%, #a3bbad);
    width: 125px;
    height: 37px;
  }
  .desktop-1-inner,
  .desktop-1-item {
    left: 766px;
    width: 138px;
  }
  .desktop-1-inner {
    left: 1231px;
  }
  .pupsicle6,
  .pupsicle7 {
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  .pupsicle6 {
    position: absolute;
    top: 763px;
    left: calc(50% - 656px);
  }
  .pupsicle7 {
    left: calc(50% - 207px);
  }
  .div8,
  .div9,
  .pupsicle7,
  .pupsicle8 {
    position: absolute;
    top: 763px;
  }
  .pupsicle8 {
    left: calc(50% + 258px);
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  .div8,
  .div9 {
    left: calc(50% - 378px);
  }
  .div9 {
    left: calc(50% - 484px);
    color: var(--color-darkgray);
  }
  .desktop-1-child1 {
    position: absolute;
    top: 776.5px;
    left: 233.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 103px;
    height: 1px;
  }
  .div12 {
    position: absolute;
    top: 763px;
    left: calc(50% + 71px);
  }
  .reviews3,
  .reviews4,
  .reviews5 {
    position: absolute;
    top: 888px;
    left: calc(50% - 434px);
    font-size: var(--font-size-mini);
  }
  .reviews4,
  .reviews5 {
    left: calc(50% + 15px);
  }
  .reviews5 {
    left: calc(50% + 480px);
  }
  .long-lasting-quiet3 {
    margin-block-start: 0;
    margin-block-end: 10px;
  }
  .designed-dog-toy3 {
    margin: 0;
  }
  .long-lasting-quiet-container3,
  .long-lasting-quiet-container4,
  .long-lasting-quiet-container5 {
    position: absolute;
    top: 812px;
    left: calc(50% - 656px);
    font-size: var(--font-size-xl);
    letter-spacing: 0.1em;
  }
  .long-lasting-quiet-container4,
  .long-lasting-quiet-container5 {
    left: calc(50% - 207px);
  }
  .long-lasting-quiet-container5 {
    left: calc(50% + 258px);
  }
  .discover-woof1 {
    top: 116px;
    left: calc(50% - 201px);
    font-size: var(--font-size-26xl);
    font-weight: 800;
  }
  .discover-woof1,
  .great-gift1,
  .the-good-things1 {
    position: absolute;
    letter-spacing: 0.1em;
  }
  .the-good-things1 {
    top: 162px;
    left: calc(50% - 252px);
    font-size: var(--font-size-xl);
    font-weight: 300;
  }
  .great-gift1 {
    top: 12px;
    left: calc(50% - 44px);
    font-weight: 600;
  }
  .great-gift-container {
    position: absolute;
    top: 300px;
    left: 738px;
    border-radius: var(--br-5xs);
    background-color: var(--color-thistle);
    width: 178px;
    height: 40px;
    overflow: hidden;
    font-size: var(--font-size-mini);
    color: var(--color-white);
  }
  .vector-icon62,
  .vector-icon63,
  .vector-icon64 {
    position: absolute;
    top: 888px;
    left: 67px;
    width: 20px;
    height: 20px;
  }
  .vector-icon63,
  .vector-icon64 {
    left: 113px;
  }
  .vector-icon64 {
    left: 159px;
  }
  .div13 {
    position: absolute;
    top: 760px;
    left: calc(50% + 536px);
  }
  .desktop-1 {
    position: absolute;
    top: 2533px;
    left: 0;
    background-color: var(--color-white);
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-darkslategray);
    font-family: var(--font-epilogue);
  }
  .sniff-the-pet1 {
    position: absolute;
    top: 100px;
    left: calc(50% - 174px);
    letter-spacing: 0.1em;
    font-weight: 800;
  }
  .shadow-icon3 {
    position: absolute;
    top: 189px;
    left: 86px;
    width: 183.6px;
    height: 54px;
  }
  .dogs1 {
    position: absolute;
    top: 282px;
    left: calc(50% - 49px);
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  .shadow-parent1 {
    text-decoration: none;
    width: 290px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    height: 345px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 0;
    color: inherit;
  }
  .shadow-icon4 {
    position: absolute;
    top: 181px;
    left: 84px;
    width: 191px;
    height: 67px;
  }
  .cats1 {
    position: absolute;
    top: 281px;
    left: calc(50% - 46px);
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  .image-removebg-preview-3-22 {
    position: absolute;
    top: 39px;
    left: 61px;
    width: 190px;
    height: 209px;
  }
  .shadow-parent2 {
    text-decoration: none;
    width: 290px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    height: 345px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
    color: inherit;
  }
  .rabbits1 {
    position: absolute;
    top: 281px;
    left: calc(50% - 77px);
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  .wepik-export-20240328180922spl-icon2 {
    position: absolute;
    top: 127px;
    left: 55px;
    border-radius: var(--br-56xl-5);
    width: 180.3px;
    height: 154.4px;
    object-fit: contain;
  }
  .rabbits-parent {
    text-decoration: none;
    width: 290px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    height: 345px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2;
    color: inherit;
  }
  .shadow-icon5 {
    position: absolute;
    top: 181px;
    left: 156px;
    width: 101.5px;
    height: 67px;
  }
  .others1 {
    position: absolute;
    top: 281px;
    left: calc(50% - 70px);
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  .image-removebg-preview-3-23 {
    position: absolute;
    top: 39px;
    left: 61px;
    width: 190px;
    height: 209px;
    object-fit: cover;
  }
  .shadow-parent3 {
    text-decoration: none;
    width: 290px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    height: 345px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 3;
    color: inherit;
  }
  .wepik-export-20240328180922spl-icon3 {
    width: 117.8px;
    position: absolute;
    margin: 0 !important;
    top: 206px;
    left: 719px;
    border-radius: var(--br-56xl-5);
    height: 36.7px;
    object-fit: contain;
    z-index: 4;
  }
  .frame-parent4 {
    position: absolute;
    top: 276px;
    left: 114px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-mid);
    font-size: var(--font-size-16xl);
  }
  .sniff-the-pet-parent {
    position: absolute;
    top: 954px;
    left: 0;
    width: 1440px;
    height: 986px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-26xl);
    color: var(--color-darkslategray);
    font-family: var(--font-epilogue);
  }
  .wepik-export-20240328181817bia-icon1 {
    position: absolute;
    top: 1226px;
    left: 775px;
    width: 184px;
    height: 276px;
    object-fit: cover;
  }
  .wepik-export-20240328175634bap-icon1 {
    position: absolute;
    top: 1110px;
    left: 452px;
    width: 266px;
    height: 400px;
    object-fit: cover;
  }
  .landing-page-1-child,
  .wepik-export-20240328175149yot-icon1 {
    position: absolute;
    top: 986px;
    left: 109px;
    width: 290px;
    height: 541px;
    object-fit: cover;
  }
  .landing-page-1-child {
    top: 1409px;
    left: 112px;
    width: 1231px;
    height: 444px;
  }
  .adopt7,
  .petopia-pvt-ltd3 {
    position: absolute;
    top: 37px;
    left: calc(50% - 420px);
    font-size: var(--font-size-sm);
  }
  .petopia-pvt-ltd3 {
    left: calc(50% - 570px);
    font-size: var(--font-size-xs);
    font-weight: 500;
    display: inline-block;
    width: 91px;
    height: 8px;
  }
  .account3,
  .follow-along3,
  .info3,
  .order-support3,
  .shop3 {
    position: absolute;
    top: 37px;
    left: calc(50% - 317px);
    font-size: var(--font-size-sm);
  }
  .account3,
  .follow-along3,
  .info3,
  .order-support3 {
    left: calc(50% - 183px);
  }
  .account3,
  .follow-along3,
  .info3 {
    left: calc(50% + 239px);
  }
  .follow-along3,
  .info3 {
    left: calc(50% + 52px);
  }
  .follow-along3 {
    left: calc(50% + 480px);
  }
  .dog4,
  .kathmandu-np3 {
    position: absolute;
    top: 81px;
    left: calc(50% - 420px);
    font-weight: 300;
  }
  .kathmandu-np3 {
    top: 50px;
    left: calc(50% - 570px);
    font-size: var(--font-size-xs);
    display: inline-block;
    width: 108px;
    height: 9px;
  }
  .about3,
  .log-in3,
  .pupsicle9,
  .support3 {
    position: absolute;
    top: 81px;
    left: calc(50% - 317px);
    font-weight: 300;
  }
  .about3,
  .log-in3,
  .support3 {
    left: calc(50% - 183px);
  }
  .about3,
  .log-in3 {
    left: calc(50% + 239px);
  }
  .about3 {
    left: calc(50% + 52px);
  }
  .all7,
  .all8,
  .faq3,
  .shipping-returns3 {
    position: absolute;
    top: 118px;
    left: calc(50% - 420px);
    font-weight: 300;
  }
  .all8,
  .faq3,
  .shipping-returns3 {
    left: calc(50% - 317px);
  }
  .faq3,
  .shipping-returns3 {
    left: calc(50% - 183px);
  }
  .shipping-returns3 {
    top: 155px;
  }
  .create-an-account3,
  .news3,
  .store-locator3 {
    position: absolute;
    top: 118px;
    left: calc(50% + 239px);
    font-weight: 300;
  }
  .news3,
  .store-locator3 {
    left: calc(50% + 52px);
  }
  .news3 {
    top: 155px;
  }
  .vector-icon65,
  .vector-icon66,
  .vector-icon67 {
    position: absolute;
    height: 5%;
    width: 1.39%;
    top: 15.5%;
    right: 15.28%;
    bottom: 79.5%;
    left: 83.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon66,
  .vector-icon67 {
    width: 0.73%;
    right: 13.58%;
    left: 85.69%;
  }
  .vector-icon67 {
    width: 1.39%;
    right: 11.25%;
    left: 87.36%;
  }
  .petopia3 {
    position: absolute;
    top: 75.75%;
    left: calc(50% - 227px);
    font-size: var(--font-size-81xl);
    letter-spacing: 0.1em;
    font-weight: 600;
    text-align: center;
  }
  .frame-child17,
  .frame-child18,
  .frame-child19 {
    position: absolute;
    top: 327px;
    left: 703px;
    border-radius: 50%;
    background-color: var(--color-darkslategray);
    width: 55px;
    height: 55px;
  }
  .frame-child18,
  .frame-child19 {
    left: 785px;
  }
  .frame-child19 {
    left: 502px;
  }
  .vector-icon68,
  .vector-icon69 {
    height: 5.1%;
    width: 1.81%;
    top: 85.7%;
    bottom: 9.2%;
    max-width: 100%;
    max-height: 100%;
  }
  .vector-icon68 {
    position: absolute;
    right: 48.33%;
    left: 49.86%;
    overflow: hidden;
  }
  .vector-icon69 {
    right: 42.64%;
    left: 55.56%;
  }
  .adopt-container,
  .vector-icon69,
  .vector-icon70 {
    position: absolute;
    overflow: hidden;
  }
  .vector-icon70 {
    height: 5.1%;
    width: 1.81%;
    top: 85.7%;
    right: 62.29%;
    bottom: 9.2%;
    left: 35.9%;
    max-width: 100%;
    max-height: 100%;
  }
  .adopt-container {
    top: 3696px;
    left: 0;
    background-color: var(--color-whitesmoke);
    width: 1440px;
    height: 400px;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-darkslategray);
    font-family: var(--font-epilogue);
  }
  .beautiful-pet-portrait-dog-icon {
    position: absolute;
    top: -69px;
    left: -38px;
    width: 1764px;
    height: 960px;
    object-fit: cover;
  }
  .adopt-now-and1,
  .embrace-endless-love-container1 {
    position: absolute;
    top: 181px;
    left: 155px;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  .adopt-now-and1 {
    top: 398px;
    font-size: var(--font-size-mini);
    font-weight: 300;
    display: inline-block;
    width: 559px;
  }
  .find-your-new1,
  .pet-type2 {
    position: absolute;
    top: 114px;
    left: 293px;
    letter-spacing: 0.01em;
    font-weight: 300;
  }
  .find-your-new1 {
    top: 0;
    left: 0;
    font-size: var(--font-size-11xl);
    font-weight: 600;
    display: inline-block;
    width: 412px;
  }
  .age2,
  .breed2,
  .gender2,
  .your-location1 {
    position: absolute;
    top: 76px;
    left: 0;
    letter-spacing: 0.01em;
    font-weight: 300;
  }
  .age2,
  .breed2,
  .gender2 {
    left: 490px;
  }
  .age2,
  .gender2 {
    left: 708px;
  }
  .age2 {
    left: 924px;
  }
  .find-your-new-best-friend-group {
    position: absolute;
    top: 38px;
    left: 23px;
    width: 961px;
    height: 97px;
  }
  .frame-child20,
  .frame-child21,
  .frame-child22,
  .frame-child23,
  .frame-dropdownbutton {
    width: 250px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 163px;
    left: 23px;
  }
  .frame-child20,
  .frame-child21,
  .frame-child22,
  .frame-child23 {
    width: 200px;
    left: 293px;
  }
  .frame-child21,
  .frame-child22,
  .frame-child23 {
    left: 513px;
  }
  .frame-child22,
  .frame-child23 {
    left: 731px;
  }
  .frame-child23 {
    width: 208px;
    left: 947px;
  }
  .pet-type-group {
    position: absolute;
    top: 591px;
    left: 132px;
    border-radius: var(--br-xl);
    background-color: var(--color-gray-300);
    width: 1176px;
    height: 274px;
    overflow: hidden;
    font-size: var(--font-size-xl);
  }
  .beautiful-pet-portrait-dog-parent {
    position: absolute;
    top: 58px;
    left: 0;
    width: 1440px;
    height: 891px;
    overflow: hidden;
    font-size: var(--font-size-21xl);
  }
  .landing-page-1 {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 4096px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-white);
    font-family: var(--font-epilogue);
  }
  